# Logistic Regression

Date: 05/07/2022

Aim : To implement Logistic Regression using any standard dataset available in the public domain and find the accuracy of the algorithm.

Algorithm : 

step 1:start
    
Step 2:Import libraries

step 3:Import Dataset

step 4: Define x and y

Step 5 :Split the dataset in training and test set

step 6: Train the model on the training set

step 7 : Predict the test results

Step 8 : Evaluate the model

Step 9 : Plot the results 

Step 10:Stop

Program ::

In [ ]:
import pandas as pd
df=pd.read_csv("//content/drive/MyDrive/Colab Notebooks/Surgical-deepnet.csv")

In [ ]:
df

,bmi,Age,asa_status,baseline_cancer,baseline_charlson,baseline_cvd,baseline_dementia,baseline_diabetes,baseline_digestive,baseline_osteoart,...,complication_rsi,dow,gender,hour,month,moonphase,mort30,mortality_rsi,race,complication
0,19.31,59.2,1,1,0,0,0,0,0,0,...,-0.57,3,0,7.63,6,1,0,-0.43,1,0
1,18.73,59.1,0,0,0,0,0,0,0,0,...,0.21,0,0,12.93,0,1,0,-0.41,1,0
2,21.85,59.0,0,0,0,0,0,0,0,0,...,0.00,2,0,7.68,5,3,0,0.08,1,0
3,18.49,59.0,1,0,1,0,0,1,1,0,...,-0.65,2,1,7.58,4,3,0,-0.32,1,0
4,19.70,59.0,1,0,0,0,0,0,0,0,...,0.00,0,0,7.88,11,0,0,0.00,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14630,18.79,14.1,1,0,1,0,0,0,0,0,...,-0.54,1,0,7.78,0,1,0,-0.16,1,1
14631,19.65,12.6,0,0,0,0,0,0,0,0,...,-1.42,4,0,8.40,6,1,0,-0.77,1,1
14632,14.84,12.6,1,0,0,0,0,0,0,0,...,0.65,0,0,13.25,3,3,0,0.99,1,1
14633,17.75,8.9,0,0,1,0,0,0,1,0,...,-0.50,0,1,8.30,5,0,0,0.17,1,1
14634,14.40,6.1,1,0,1,0,0,0,1,0,...,0.78,2,0,7.65,4,1,0,1.06,0,1

In [ ]:
df.isnull().sum()

bmi                    0
Age                    0
asa_status             0
baseline_cancer        0
baseline_charlson      0
baseline_cvd           0
baseline_dementia      0
baseline_diabetes      0
baseline_digestive     0
baseline_osteoart      0
baseline_psych         0
baseline_pulmonary     0
ahrq_ccs               0
ccsComplicationRate    0
ccsMort30Rate          0
complication_rsi       0
dow                    0
gender                 0
hour                   0
month                  0
moonphase              0
mort30                 0
mortality_rsi          0
race                   0
complication           0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14635 entries, 0 to 14634
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bmi                  14635 non-null  float64
 1   Age                  14635 non-null  float64
 2   asa_status           14635 non-null  int64
 3   baseline_cancer      14635 non-null  int64
 4   baseline_charlson    14635 non-null  int64
 5   baseline_cvd         14635 non-null  int64
 6   baseline_dementia    14635 non-null  int64
 7   baseline_diabetes    14635 non-null  int64
 8   baseline_digestive   14635 non-null  int64
 9   baseline_osteoart    14635 non-null  int64
 10  baseline_psych       14635 non-null  int64
 11  baseline_pulmonary   14635 non-null  int64
 12  ahrq_ccs             14635 non-null  int64
 13  ccsComplicationRate  14635 non-null  float64
 14  ccsMort30Rate        14635 non-null  float64
 15  complication_rsi     14635 non-null  float64
 16  dow                  14635 non-null  int64
 17  gender               14635 non-null  int64
 18  hour                 14635 non-null  float64
 19  month                14635 non-null  int64
 20  moonphase            14635 non-null  int64
 21  mort30               14635 non-null  int64
 22  mortality_rsi        14635 non-null  float64
 23  race                 14635 non-null  int64
 24  complication         14635 non-null  int64
dtypes: float64(7), int64(18)
memory usage: 2.8 MB

In [ ]:
y=df['complication'].values
y

array([0, 0, 0, ..., 1, 1, 1])

In [ ]:
x=(df.values)[:, :24]
x

array([[19.31, 59.2 ,  1.  , ...,  0.  , -0.43,  1.  ],
       [18.73, 59.1 ,  0.  , ...,  0.  , -0.41,  1.  ],
       [21.85, 59.  ,  0.  , ...,  0.  ,  0.08,  1.  ],
       ...,
       [14.84, 12.6 ,  1.  , ...,  0.  ,  0.99,  1.  ],
       [17.75,  8.9 ,  0.  , ...,  0.  ,  0.17,  1.  ],
       [14.4 ,  6.1 ,  1.  , ...,  0.  ,  1.06,  0.  ]])

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=.7, random_state=0)

In [ ]:
from sklearn.linear_model import LogisticRegression

lr_clf = LogisticRegression(max_iter=770)
lr_clf.fit(x_train,y_train)
lr_clf.score(x_test,y_test)

0.8000455477112275

In [ ]:
y_pred = knn_clf.predict(x_test)
confusion_matrix(y_test, y_pred)

array([[3263,   31],
       [ 567,  530]])

In [ ]:
tnfn, tpfp = confusion_matrix(y_test, y_pred)

print("Precision:",tpfp[1]/ sum(tpfp))
print("Accuracy:", (tpfp[1]+tnfn[0])/(sum(tnfn)+sum(tpfp)))

Precision: 0.4831358249772106
Accuracy: 0.8638123434297427